# Introductory Work
The first thing that I want to do is to gain some insight on the data and see if there is truly a correlation between the 3 penny
cryptocurrencies (statistically significant !)

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
from statsmodels.stats import diagnostic
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

We import our data

In [12]:
trx_data = pd.read_csv('Data/TRX_historical_data.csv', index_col='timestamp', parse_dates=True)
matic_data = pd.read_csv('Data/MATIC_historical_data.csv', index_col='timestamp', parse_dates=True)
ftm_data = pd.read_csv('Data/FTM_historical_data.csv', index_col='timestamp', parse_dates=True) 


#We get a vue of our data :
display(trx_data.head(5))
display(matic_data.head(5))
display(ftm_data.head(5))

#We create our data_frame
df = pd.DataFrame({
    'TRX': trx_data['close'],
    'MATIC': matic_data['close'],
    'FTM': ftm_data['close']
})

len(df)

               open     high      low    close       volume
timestamp
2019-11-04  0.01964  0.02014  0.01845  0.01980  913791526.6
2019-11-05  0.01979  0.02005  0.01928  0.01975  662033588.8
2019-11-06  0.01975  0.02077  0.01957  0.02013  910078675.3
2019-11-07  0.02014  0.02018  0.01891  0.01951  752675826.7
2019-11-08  0.01950  0.01975  0.01836  0.01876  714745312.5

               open     high      low    close       volume
timestamp
2019-11-04  0.01354  0.01461  0.01351  0.01432  233424567.0
2019-11-05  0.01428  0.01514  0.01395  0.01470  267620780.1
2019-11-06  0.01465  0.01486  0.01430  0.01447  150238377.9
2019-11-07  0.01446  0.01542  0.01421  0.01512  237761244.4
2019-11-08  0.01512  0.01546  0.01379  0.01432  236014058.8

               open     high      low    close      volume
timestamp
2019-11-04  0.01207  0.01375  0.01187  0.01322  35792381.4
2019-11-05  0.01337  0.01428  0.01306  0.01388  22125169.9
2019-11-06  0.01388  0.01393  0.01312  0.01356  18165110.2
2019-11-07  0.01362  0.01459  0.01301  0.01430  28812254.6
2019-11-08  0.01426  0.01446  0.01273  0.01344  20982057.5

1828

In [10]:
#We check if our data is in the right format, in particular we check for missing data 
len(df[df.isna().any(axis=1)])

55

Since some of our data is missing, a basic imputation method would be to replace the missing values by the mean. This method is the easiest imputation method to implement and has the advantage to preserve the central tendency. However, we should be cautious with it since it reduces variability and can distort relationships between variables. Thankfully, we only have 55 missing data accross our dataset, so we expect the overall variability to remain the same between our parameters.

In [ ]:
df = df.fillna(df.mean())
len(df[df.isna().any(axis=1)])

0